.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  text-align: center;
  font-size: 4rem;
}

.featureLink,
.featureLink:hover {
  text-decoration: none;
  color: var(--ifm-font-color-base);
}
