/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ea3222;
  --ifm-color-primary-dark: #dc2515;
  --ifm-color-primary-darker: #d02314;
  --ifm-color-primary-darkest: #ab1d10;
  --ifm-color-primary-light: #ec493a;
  --ifm-color-primary-lighter: #ed5447;
  --ifm-color-primary-lightest: #f1766b;
  --ifm-code-font-size: 95%;
  --ifm-link-color: #3867a3;
  --ifm-heading-color: rgb(68, 73, 80);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ea3222;
  --ifm-color-primary-dark: #dc2515;
  --ifm-color-primary-darker: #d02314;
  --ifm-color-primary-darkest: #ab1d10;
  --ifm-color-primary-light: #ec493a;
  --ifm-color-primary-lighter: #ed5447;
  --ifm-color-primary-lightest: #f1766b;
  --ifm-link-color: lightblue;
  --ifm-heading-color: rgb(218, 221, 225);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

iframe {
  width: 100%;
  height: 400px;
  margin-bottom: 1rem;
}
iframe[src$="pdf"] { 
  height: 800px;
}

@media (max-width:996px) {
  iframe {
    height: 250px;
  }
}

@media (min-width:996px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
  .grid.three {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid.four {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid .center {
    align-self: center;
  }
}

table {
  display: table;
  table-layout: auto;
  width: 100%;
}
